.section {
  display: flex;
  align-items: center;
  padding: 2rem 0 3rem 0;
  width: 100%;
}

.featureSvg {
  height: 160px;
  width: 200px;
}

.title {
  color: #0c263a;
  text-align: center;
}

/* light colors for the light mode were aliceblue for the base background and #e0eef9 for the hovering effect. */

.cardContainer {
  background-color: #fdf9f1;
  border: none;
  border-radius: 20px;
  padding: 5px;
  margin: 10px 0 15px 0;
  transition: transform 0.3s ease;
}

.cardContainer:hover {
  background-color: #fef6e8;
  transform: translateY(-8px);
}

[data-theme='dark'] .cardContainer {
  background-color: #005c92;
}

[data-theme='dark'] .cardContainer:hover {
  background-color: #00649e;
}
