.section {
  display: flex;
  align-items: center;
  padding: 2rem 0 3rem 0;
  width: 100%;
}

.featureSvg {
  height: 160px;
  width: 200px;
}

.title {
  color: #0c263a;
  text-align: center;
}

.cardContainer {
  background-color: aliceblue;
  border: none;
  border-radius: 20px;
  padding: 5px;
  margin: 10px 0 15px 0;
}

.cardContainer:hover {
  border: 4px solid #ffffff;
  background-color: #e0eef9;
  padding: 1px;
  margin: 6px 0 11px 0;
}

[data-theme='dark'] .cardContainer {
  background-color: #005c92;
}

[data-theme='dark'] .cardContainer:hover {
  border: 4px solid #005c92;
  background-color: #00649e;
}