.section {
  display: flex;
  align-items: center;
  padding: 2rem 0 3rem 0;
  width: 100%;
}

.featureSvg {
  height: 160px;
  width: 200px;
}

.title {
  text-align: center;
}

/* light colors for the light mode were aliceblue for the base background and #e0eef9 for the hovering effect. */

.cardContainer {
  height: 400px;
  background-color: #fdf9f1;
  border: none;
  border-radius: 20px;
  padding: 5px;
  margin: 10px 0 15px 0;
  transition: transform 0.2s ease;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(12, 38, 58, 0.3);
}

.cardContainer:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 8px rgba(12, 38, 58, 0.6);
}

[data-theme='dark'] .cardContainer {
  background-color: #03476e;
}

[data-theme='dark'] .cardContainer:hover {
  box-shadow: 0 0 6px rgba(253, 249, 241, 0.8);
}

.seeButton {
  width: 50px;
  height: 50px;
  color: #0c263a;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  font-weight: 700;
  border-radius: 25px;
  background-color:#fdf9f1;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 6px rgba(12, 38, 58, 0.4);
}

.seeButton:hover {
  box-shadow: 0 0 6px rgba(12, 38, 58, 0.8);
}

@media screen and (max-width: 996px) {
  .cardContainer {
    height: fit-content;
  }
}