.section {
  display: flex;
  align-items: center;
  padding: 2rem 0 3rem 0;
  width: 100%;
}

.featureSvg {
  height: 160px;
  width: 200px;
}

.title {
  text-align: center;
}

/* light colors for the light mode were aliceblue for the base background and #e0eef9 for the hovering effect. */

.cardContainer {
  background-color: #fdf9f1;
  border: none;
  border-radius: 20px;
  padding: 5px;
  margin: 10px 0 15px 0;
  transition: transform 0.2s ease;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(12, 38, 58, 0.2);
}

.cardContainer:hover {
  background-color: #fef6e8;
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(12, 38, 58, 0.4);
}

[data-theme='dark'] .cardContainer {
  background-color: #03476e;
}

[data-theme='dark'] .cardContainer:hover {
  box-shadow: 0 0 6px rgba(253, 249, 241, 0.8);
}
