.section {
  display: flex;
  align-items: center;
  padding: 2rem 0 3rem 0;
  width: 100%;
}

.title {
  text-align: center;
}

.cardContainer {
  background-color: #fdf9f1;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 5px 0;
  box-shadow: 0 0 6px rgba(12, 38, 58, 0.3);
}

.cardContainer:hover {
  box-shadow: 0 0 6px rgba(12, 38, 58, 0.6);
}

[data-theme='dark'] .cardContainer {
  background-color: #03476e;
}

[data-theme='dark'] .cardContainer:hover {
  box-shadow: 0 0 6px rgba(253, 249, 241, 0.8);
}

.recordContainer {
  width: 60%;
  margin: 0 auto;
}

.timelineContainer {
  display: flex;
  flex-direction: column;
}

.timelineContainer:after {
  background-color: #0c263a;
  content: '';
  position: absolute;
  left: calc(50% - 2px);
  width: 3px;
  height: 69%;
}

[data-theme='dark'] .timelineContainer:after {
  background-color: #f2eade;
}

.timelineItem {
  display: block;
  justify-self: flex-end;
  padding-right: 60px;
  position: relative;
  margin: 5px 0;
  width: 60%;
  z-index: 1;
}

.timelineItem:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-left: 60px;
  padding-right: 0;
}

.timelineItem h3 {
  display: flex;
  justify-content: start;
  font-size: 18px;
  margin-bottom: 0;
  padding-left: 20px;
}

.timelineItem:nth-child(odd) h3 {
  display: flex;
  justify-content: end;
  padding-right: 20px;
}

.timelineItem p {
  display: flex;
  justify-content: start;
  font-size: 16px;
  margin-bottom: 5px;
  padding-left: 20px;
}

.timelineItem:nth-child(odd) p {
  display: flex;
  justify-content: end;
  padding-right: 20px;
}

.timelineItem time {
  display: flex;
  justify-content: end;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

.timelineItem:nth-child(odd) time {
  display: flex;
  justify-content: start;
}

@media screen and (max-width: 1050px) {
  .timelineItem {
    width: 60%;
    padding-right: 30px;
  }
  .timelineItem h3 {
    font-size: 16px;
    padding-left: 0;
  }
  .timelineItem p {
    font-size: 14px;
    padding-left: 0;
    margin-bottom: 10px;
  }
  .timelineItem:nth-child(odd) {
    text-align: right;
    padding-left: 30px;
  }
  .timelineItem:nth-child(odd) h3 {
    padding: 0;
  }
  .timelineItem:nth-child(odd) p {
    padding: 0;
  }
}

@media screen and (max-width: 480px) {
  .timelineContainer:after {
    height: 71%;
  }
  .timelineItem {
    width: 100%;
    padding-right: 30px;
  }
  .timelineItem h3 {
    font-size: 16px;
    padding-left: 0;
  }
  .timelineItem p {
    font-size: 14px;
    padding-left: 0;
    margin-bottom: 10px;
  }
  .timelineItem:nth-child(odd) {
    text-align: right;
    padding-left: 30px;
  }
  .timelineItem:nth-child(odd) h3 {
    padding: 0;
  }
  .timelineItem:nth-child(odd) p {
    padding: 0;
  }
  .timelineItem time {
    justify-content: center;
  }
  .timelineItem:nth-child(odd) time {
    justify-content: center;
  }
}