.section {
  display: flex;
  align-items: center;
  padding: 2rem 0 3rem 0;
  width: 100%;
}

.title {
  text-align: center;
}

.cardContainer {
  background-color: #fdf9f1;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 5px 0;
  box-shadow: 0 0 10px rgba(12, 38, 58, 0.2);
}

.cardContainer:hover {
  background-color: #fef6e8;
  box-shadow: 0 0 10px rgba(12, 38, 58, 0.4);
}

[data-theme='dark'] .cardContainer {
  background-color: #03476e;
}

[data-theme='dark'] .cardContainer:hover {
  box-shadow: 0 0 6px rgba(253, 249, 241, 0.8);
}

.recordContainer {
  width: 60%;
  margin: 0 auto;
}

.timelineContainer {
  display: flex;
  flex-direction: column;
}

.timelineContainer:after {
  background-color: #0c263a;
  content: '';
  position: absolute;
  left: calc(50% - 2px);
  width: 3px;
  height: 71%;
}

[data-theme='dark'] .timelineContainer:after {
  background-color: #f2eade;
}

.timelineItem {
  display: block;
  justify-self: flex-end;
  padding-right: 60px;
  position: relative;
  margin: 5px 0;
  width: 60%;
  z-index: 1;
}

.timelineItem:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-left: 60px;
  padding-right: 0;
}

.timelineItem h3 {
  display: flex;
  justify-content: start;
  font-size: 18px;
  margin-bottom: 0;
  padding-left: 20px;
}

.timelineItem:nth-child(odd) h3 {
  display: flex;
  justify-content: end;
  padding-right: 20px;
}

.timelineItem p {
  display: flex;
  justify-content: start;
  font-size: 16px;
  margin-bottom: 5px;
  padding-left: 20px;
}

.timelineItem:nth-child(odd) p {
  display: flex;
  justify-content: end;
  padding-right: 20px;
}

.timelineItem time {
  display: flex;
  justify-content: end;
  font-size: 18px;
  font-weight: 600;
  padding-right: 10px;
  line-height: normal;
}

.timelineItem:nth-child(odd) time {
  display: flex;
  justify-content: start;
  padding-left: 10px;
}

@media screen and (max-width: 1150px) {
  
}