.section {
  display: flex;
  align-items: center;
  padding: 2rem 0 3rem 0;
  width: 100%;
}

.title {
  text-align: center;
}

.cardContainer {
  background-color: #fdf9f1;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 5px 0;
  transition: transform 0.2s ease;
}

.cardContainer:hover {
  background-color: #fef6e8;
  transform: scale(102%);
}

[data-theme='dark'] .cardContainer {
  background-color: #005c92;
}

[data-theme='dark'] .cardContainer:hover {
  background-color: #00649e;
}

.recordContainer {
  width: 60%;
  margin: 0 auto;
}

.timelineContainer {
  display: flex;
  flex-direction: column;
}

.timelineContainer:after {
  background-color: #0c263a;
  content: '';
  position: absolute;
  left: calc(50% - 2px);
  width: 3px;
  height: 62%;
}

[data-theme='dark'] .timelineContainer:after {
  background-color: #f2eade;
}

.timelineItem {
  display: block;
  justify-self: flex-end;
  padding-right: 60px;
  position: relative;
  margin: 5px 0;
  width: 60%;
  z-index: 1;
}

.timelineItem:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-left: 60px;
  padding-right: 0;
}

.timelineItem p {
  display: flex;
  justify-content: start;
  margin-bottom: 10px;
  padding-left: 20px;
}

.timelineItem:nth-child(odd) p {
  display: flex;
  justify-content: end;
  padding-right: 20px;
}

.timelineItem time {
  display: flex;
  justify-content: end;
  font-weight: 600;
}

.timelineItem:nth-child(odd) time {
  display: flex;
  justify-content: start;
}