.heroBanner {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: fit-content;
  padding: 4rem 0;
  overflow: hidden;
  background-color: #fdf9f1;
}

[data-theme='dark'] .heroBanner {
  background-color: #03476e;
  /* background-color: #005c92; */
}

.about {
  display: none;
  height: 120px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 20px;
  padding: 20px 90px;
  background-color: #f2eade;
}

.about.isActive {
  display: flex;
}

[data-theme='dark'] .about {
  background-color: #0c263a;
}

[data-theme='light'] .hero__title {
  color: #0c263a;
  font-size: 3rem;
}

[data-theme='light'] .hero__subtitle {
  color: #0c263a;
  font-size: 1.5rem;
}

[data-theme='dark'] .hero__title {
  color: #c9bca7;
  font-size: 3rem;
}

[data-theme='dark'] .hero__subtitle {
  color: #f2eade;
  font-size: 1.5rem;
}

.heroControls {
  display: flex;
  gap: 20px;
}

.heroButton {
  width: 40px;
  height: 40px;
  color: #0c263a;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  font-weight: 700;
  border-radius: 20px;
  background-color:#f2eade;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 6px rgba(12, 38, 58, 0.4);
}

[data-theme='dark'] .heroButton {
  color: #f2eade;
  background-color: #0c263a;
  box-shadow: 0 0 6px rgba(253, 249, 241, 0.4);
}

.heroButton:hover {
  box-shadow: 0 0 6px rgba(12, 38, 58, 0.8);
}

[data-theme='dark'] .heroButton:hover {
  box-shadow: 0 0 6px rgba(253, 249, 241, 0.8);
}

.active {
  background-color: #fdf9f1;
}

.linkSvg {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  transition: all 0.2s ease;
}

.linkSvg:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 6px rgba(12, 38, 58, 0.8);
}

[data-theme='dark'] .linkSvg {
  background-color: #c9bca7;
  box-shadow: 0 0 6px rgba(253, 249, 241, 0.4);
}

[data-theme='dark'] .linkSvg:hover {
  box-shadow: 0 0 6px rgba(253, 249, 241, 0.8);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    height: 450px;
    padding: 0.5rem;
    gap: 10px;
  }
  .about {
    height: 180px;
    font-size: 17px;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 0 auto;
  }
  .heroControls {
    gap: 10px;
    margin: 10px auto;
  }
  [data-theme='light'] .hero__title {
    font-size: 2rem;
  }
  [data-theme='light'] .hero__subtitle {
    font-weight: 300;
  }
}