.section {
  display: flex;
  align-items: center;
  padding: 3rem 0 10rem 0;
  width: 100%;
  background-color: #fdf9f1;
}

[data-theme='dark'] .section {
  background-color: #03476e;
}

.title {
  text-align: center;
  margin-bottom: 150px;
}

.skillContainer {
  height: 120px;
  width: 120px;
  align-items: center;
  justify-content: center;
  background-color: #fdf9f1;
  border: none;
  border-radius: 20px;
  padding: 5px;
  margin: 10px;
  transition: transform 0.3s ease;
}

.skillContainer:hover {
  background-color: #fef6e8;
  transform: translateY(-8px);
}

[data-theme='dark'] .skillContainer {
  background-color: #03476e; 
  /* #005c92 */
}

[data-theme='dark'] .skillContainer:hover {
  background-color: #005c92;
  /* #00649e */
}

.inlineSkills {
  display: flex;
  border-radius: 20px;
  padding: 10px;
  background-color: #f2eade;
}

[data-theme='dark'] .inlineSkills {
  background-color: #0c263a;
}

.skill {
  width: fit-content;
}

.skillSvg {
  width: 97px;
  max-height: 97px;
  align-self: center;
  justify-self: center;
}