.section {
  display: flex;
  align-items: center;
  padding: 3rem 0 10rem 0;
  width: 100%;
  background-color: #fdf9f1;
}

[data-theme='dark'] .section {
  background-color: #03476e;
}

.allSkillsContainer {
  margin: 0 auto;
}

.title {
  text-align: center;
  margin-bottom: 6rem;
}

.inlineSkills {
  width: 880px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 20px;
  padding: 10px;
  background-color: #f2eade;
}

[data-theme='dark'] .inlineSkills {
  background-color: #0c263a;
}

.skillContainer {
  height: 120px;
  width: 120px;
  align-items: center;
  justify-content: center;
  background-color: #fdf9f1;
  border: none;
  border-radius: 20px;
  padding: 5px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(12, 38, 58, 0.2);
}

.skillContainer:hover {
  background-color: #fef6e8;
  box-shadow: 0 0 10px rgba(12, 38, 58, 0.4);
}

[data-theme='dark'] .skillContainer {
  background-color: #03476e; 
  /* #005c92 */
}

[data-theme='dark'] .skillContainer:hover {
  /* #00649e */
  box-shadow: 0 0 5px rgba(253, 249, 241, 0.8);
}

.skill {
  width: fit-content;
}

.skillSvg {
  width: 97px;
  max-height: 97px;
  align-self: center;
  justify-self: center;
}

@media screen and (max-width: 996px) {
  .inlineSkills {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    padding: 5px;
  }
}