.section {
  display: flex;
  align-items: center;
  padding: 3rem 0 4rem 0;
  width: 100%;
}

.title {
  color: #0c263a;
  text-align: center;
}

.skillContainer {
  height: 120px;
  width: 120px;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  border: none;
  border-radius: 20px;
  padding: 5px;
  margin: 10px;
}

.skillContainer:hover {
  border-color: #19c3cf;
  background-color: #e0eef9;
}

.skill {
  width: fit-content;
}

.skillSvg {
  width: 97px;
  max-height: 97px;
  align-self: center;
  justify-self: center;
}