.cardContainer {
  background-color: aliceblue;
  border: none;
  border-radius: 20px;
  padding: 10px;
}

.cardContainer:hover {
  border: 2px;
  border-color: #19c3cf;
  background-color: #aecbdc;
}