/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  height: 30rem;
  padding: 4rem 0;
  position: relative;
  overflow: hidden;
  background-color: #f0f8ff;
}

[data-theme='dark'] .heroBanner {
  background-color: #005c92;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

[data-theme='light'] .hero__title {
  color: black;
  font-size: 3rem;
}

[data-theme='light'] .hero__subtitle {
  color: black;
  font-size: 1.5rem;
}

[data-theme='dark'] .hero__title {
  color: white;
  font-size: 3rem;
}

[data-theme='dark'] .hero__subtitle {
  color: white;
  font-size: 1.5rem;
}