/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  height: 30rem;
  padding: 4rem 0;
  position: relative;
  overflow: hidden;
  background-color: #fdf9f1;
}

[data-theme='dark'] .heroBanner {
  background-color: #03476e;
  /* background-color: #005c92; */
}

.about {
  text-align: justify;
  font-size: 20px;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #f2eade;
}

[data-theme='dark'] .about {
  background-color: #0c263a;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

[data-theme='light'] .hero__title {
  color: #0c263a;
  font-size: 3rem;
}

[data-theme='light'] .hero__subtitle {
  color: #0c263a;
  font-size: 1.5rem;
}

[data-theme='dark'] .hero__title {
  color: #f2eade;
  font-size: 3rem;
}

[data-theme='dark'] .hero__subtitle {
  color: #f2eade;
  font-size: 1.5rem;
}