.section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0 3rem 0;
  width: 100%;
  background-color: #fdf9f1;
}

[data-theme='dark'] .section {
  background-color: #03476e;
}

.contactContainer {
  max-width: 600px;
  width: 100%;
  align-items: center;
}

.title {
  text-align: center;
}

.contactForm {
  display: flex;
  flex-direction: column;
  background-color: #f2eade;
  padding: 25px 25px 30px;
  border-radius: 20px;
}

[data-theme='dark'] .contactForm {
  background-color: #0c263a;
}

.fieldContainer {
  margin-top: 20px;
}

.field {
  width: 100%;
  height: 50px;
  background-color: #fdf9f1;
  border: 2px solid #0c263a;
  border-radius: 8px;
  padding: 15px;
  margin-top: 8px;
}

.field::placeholder {
  color: #0c263a;
}

[data-theme='dark'] .field::placeholder {
  color: #fdf9f1;
}

[data-theme='dark'] .field {
  border: 2px solid #005c92;
  background-color: #03476e;
}

.field.message {
  height: 300px;
  resize: none;
}

.contactForm button {
  width: 60%;
  height: 50px;
  align-self: center;
  background-color: #fdf9f1;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(12, 38, 58, 0.2);
}

.contactForm button:hover {
  background-color: #fef6e8;
  box-shadow: 0 0 10px rgba(12, 38, 58, 0.4);
}

[data-theme='dark'] .contactForm button {
  background-color: #03476e;
}

[data-theme='dark'] .contactForm button:hover {
  box-shadow: 0 0 5px rgba(253, 249, 241, 0.8);
}