.section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0 3rem 0;
  width: 100%;
  background-color: #fdf9f1;
}

[data-theme='dark'] .section {
  background-color: #03476e;
}

.contactContainer {
  max-width: 600px;
  width: 100%;
  align-items: center;
}

.title {
  text-align: center;
}

.contactForm {
  display: flex;
  flex-direction: column;
  background-color: #f2eade;
  padding: 25px 25px 40px;
  border-radius: 20px;
}

[data-theme='dark'] .contactForm {
  background-color: #0c263a;
}

.fieldContainer {
  margin-top: 20px;
}

.field {
  width: 100%;
  height: 50px;
  background-color: #fdf9f1;
  border: 2px solid #0c263a;
  border-radius: 8px;
  padding: 15px;
  margin-top: 8px;
}

.field:focus-visible {
  outline: 2px solid #0c263a;
}

[data-theme='dark'] .field:focus-visible {
  outline: 3px solid #f2eade;
}

.field::placeholder {
  color: #0c263a;
}

[data-theme='dark'] .field::placeholder {
  color: #fdf9f1;
}

[data-theme='dark'] .field {
  border: 2px solid #005c92;
  background-color: #03476e;
}

.field.message {
  height: 300px;
  resize: none;
}

.contactForm button {
  width: 60%;
  height: 50px;
  align-self: center;
  background-color: #fdf9f1;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 0 0 6px rgba(12, 38, 58, 0.3);
}

.contactForm button:hover {
  box-shadow: 0 0 6px rgba(12, 38, 58, 0.6);
}

[data-theme='dark'] .contactForm button {
  background-color: #03476e;
}

[data-theme='dark'] .contactForm button:hover {
  box-shadow: 0 0 5px rgba(253, 249, 241, 0.8);
}

.info {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 10px;
}

.info .success {
  font-size: 16px;
  color: green;
  position: absolute;
  animation: button 0.3s linear;
  display: none;
}

.info .error {
  font-size: 16px;
  color: red;
  position: absolute;
  transition: 0.2s;
  animation: button 0.2s linear;
  display: none;
}

@keyframes button {
  0%{
    transform: scale(0.1);
  }
  50%{
    transform: scale(0.5);
  }
  100%{
    transform: scale(1);
  }
}

@media screen and (max-width: 996px) {
  .contactForm {
    padding: 0 15px 40px;
    margin: 0 20px;
  }
}