/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #00436b;
  --ifm-color-primary-dark: #003c60;
  --ifm-color-primary-darker: #00395b;
  --ifm-color-primary-darkest: #002f4b;
  --ifm-color-primary-light: #004a76;
  --ifm-color-primary-lighter: #004d7b;
  --ifm-color-primary-lightest: #00578b;
  --ifm-navbar-link-hover-color: #005c92;
  --ifm-background-color: #f2eade;
  --ifm-navbar-background-color: #f2eade;
  --ifm-footer-background-color: #f2eade;
  --ifm-code-font-size: 95%;
  --ifm-font-color-base: #0c263a;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #13243f;
  --ifm-color-primary-dark: #41dee8;
  --ifm-color-primary-darker: #33dbe7;
  --ifm-color-primary-darkest: #19c3cf;
  --ifm-color-primary-light: #7de8f0;
  --ifm-color-primary-lighter: #8bebf1;
  --ifm-color-primary-lightest: #b8f3f7;
  --ifm-navbar-link-hover-color: #005c92;
  --ifm-navbar-background-color: #0c263a;
  --ifm-footer-background-color: #0c263a;
  --ifm-background-color: #0c263a;
  --ifm-font-color-base: #f2eade;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* light grey color for light mode and text was #dee5f2 in the last version. */
/* light color for hero banner was #f0f8ff. */

.navbar {
  padding-left: 30px;
}

.navbar--fixed-top {
  height: 70px;
}

.navbar__brand {
  width: 50px;
  height: 50px;
  margin: 0;
  align-items: self-start;
}

.navbar__logo img {
  width: 50px;
  height: 50px;
}

.hash-link {
  display: none;
}

.title {
  color: white;
  text-align: center;
  opacity: 20%;
}

.about {
  text-align: justify;
  font-size: 15px;
}

.inlineSkills {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}